In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark_session = SparkSession.builder \
                    .appName("MySpark") \
                    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/07/13 14:40:01 WARN Utils: Your hostname, Bikashs-MacBook-Pro.local, resolves to a loopback address: 127.0.0.1; using 192.168.29.73 instead (on interface en0)
25/07/13 14:40:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/13 14:40:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_csv = spark_session.read.csv("data/customers-10000.csv")

In [4]:
df_csv.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)

In [5]:
df_csv.count()

10001

In [6]:
df_csv.show()

+-----+---------------+----------+---------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|  _c0|            _c1|       _c2|      _c3|                 _c4|               _c5|                 _c6|                 _c7|                 _c8|                 _c9|             _c10|                _c11|
+-----+---------------+----------+---------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|Index|    Customer Id|First Name|Last Name|             Company|              City|             Country|             Phone 1|             Phone 2|               Email|Subscription Date|             Website|
|    1|EB54EF1154C3A78|   Heather| Callahan|        Mosley-David|  Lake Jeffborough|              Norway|        043-797-5229|        915.112.1727|urangel@espinoza-...|       2020-08-26|http://www.escoba...|
|    2|10dAcafEBbA5FcA|  Kristina|  Ferrell|Horn, Shepard and...|        Aaronville|             Andorra|        932-062-1802|  (209)172-7124x3651|xreese@hall-donov...|       2020-04-27|https://tyler-pug...|
|    3|67DAB15Ebe4BE4a|    Briana| Andersen|         Irwin-Oneal|       East Jordan|               Nepal|          8352752061|       (567)135-1918|haleybraun@blevin...|       2022-03-22|https://www.mack-...|
|    4|6d350C5E5eDB4EE|     Patty|    Ponce|    Richardson Group|  East Kristintown|Northern Mariana ...|        302.398.3833|    196-189-7767x770|hohailey@anthony.com|       2020-07-02|https://delacruz-...|
|    5|5820deAdCF23EFe|  Kathleen|Mccormick|        Carson-Burch|       Andresmouth|               Macao|001-184-153-9683x...|    552.051.2979x342|alvaradojesse@ran...|       2021-01-17| https://welch.info/|
|    6|E1CDEaC63fDd5aA|    Trevor|      Lee|        Maddox Group|Lake Madelineburgh|             Senegal|+1-134-348-0265x9132|     +1-313-882-4167|briangriffin@chan...|       2021-08-13|https://www.rober...|
|    7|3e1187fCcebC8d2|    Mathew|  Hoffman|Bender, Pittman a...|        West Ralph|          Uzbekistan|        842.380.1168| (178)178-5447x32603|bauergerald@morri...|       2020-04-09|http://www.holt.com/|
|    8|47C5cEE243c9A7b|     Glenn|  Wiggins|        Glenn-Harvey|        Ambershire|Falkland Islands ...|    245-207-5608x563|          8806867785|changkellie@howel...|       2021-04-02| http://carlson.com/|
|    9|cacaD68a5e4BF4b|     Bruce|    Payne|Arroyo, Cain and ...|       Barrettview|            Zimbabwe|  391.313.4649x42910|        166.227.5055|mayerjerome@hurst...|       2020-11-26|https://www.glenn...|
|   10|436b9c41cfb1fa3|   Brendan|   Franco|Schaefer, Blair a...|        New Rickey|             Ukraine|    001-315-224-3556|   254-621-7128x7573|kentryan@stone-on...|       2021-06-29|    http://ruiz.com/|
|   11|9653ca648e2E414|    Martin|  Hawkins|           Lopez Inc|       Lake Bobton|          Mauritania|    001-402-567-1320|        732-908-7945|danielbuckley@hat...|       2021-05-02|https://www.newma...|
|   12|e586A2D67bcdB48|      Sara|  Shaffer|Dudley, Coleman a...|           Orrland|              Gambia|          4229986278|001-028-824-7381x...|gabrielaleach@ros...|       2021-04-07|https://www.hoffm...|
|   13|c388ECa44FFe37c|      Dave|    Moran|     Harrell-Donovan|   South Elizabeth|              Sweden|   575.006.7250x9748|        262-029-1096|cartermallory@chu...|       2020-02-28|https://hinton.info/|
|   14|f8dddbf9CD6FF92|      Glen|  Hammond|Schaefer, Chung a...|        Pamelatown|         Netherlands|001-887-543-3745x055|001-955-888-1987x...|   lweeks@hooper.org|       2022-03-03|https://bush-huyn...|
|   15|86Df56BFCc0a7CA| Catherine|Blackwell|Mack, Garcia and ...|         Lake Seth|  Dominican Republic|001-915-961-8896x...|  (310)185-3032x0974|calhounalisha@har...|       2021-03-30|https://barker-bi...|
|   16|2cfDE68A372cC7A|     Larry|   Newton|           Downs PLC|          Mannstad|              Belize|       (216)514-1412|001-449-365-5864x147|   ypayne@gaines.biz|       2020-08-09|https://figueroa....|
|   17|14CBc0BDfbE6FEA|     Danny|   Archer|Castro, Haney and...|      East Diamond|        Cook Islands|          8416559700|001-212-234-3412x...|  nwu@brady-chen.com|       2021-05-21|http://www.callah...|
|   18|48b3ACBfD6A5cdC|       Kim|  Griffin|        Tyler-Levine|     New Gwendolyn|Saint Kitts and N...|   597.367.9499x5429|   506.141.4174x6326| harold11@mullen.org|       2021-06-02|http://www.mclaug...|
|   19|dB52fA7Bec665C1|   Kristin| Valencia|         Liu-Douglas|      Martinezstad|French Southern T...|   443-671-1725x7073|          6244311825|andrewsanders@mar...|       2021-04-17|http://www.myers....|
+-----+---------------+----------+---------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
only showing top 20 rows

In [7]:
df_json = spark_session.read.option("multiline", True).json("data/json_data.json")
df_json.show()

+--------------------+----------------+----------------+-----------------+-------+
|                 bio|              id|        language|             name|version|
+--------------------+----------------+----------------+-----------------+-------+
|Donec lobortis el...|V59OF92YF627HFY0|          Sindhi|    Adeel Solangi|    6.1|
|Aliquam sollicitu...|ENTOCR13RSCLZ6KU|          Sindhi|    Afzal Ghaffar|   1.88|
|Vestibulum pharet...|IAKPO3R4761JDRVG|          Sindhi|    Aamir Solangi|   7.27|
|Donec lobortis el...|5ZVOEPMJUI4MB4EN|          Uyghur|    Abla Dilmurat|   2.53|
|Vivamus id faucib...|6VTI8X6LL0MMPJCC|          Uyghur|         Adil Eli|   6.49|
|Duis commodo orci...|F2KEU5L7EHYSYFTT|          Uyghur|      Adile Qadir|    1.9|
|Vivamus id faucib...|LO6DVTZLRK68528I|          Uyghur|Abdukerim Ibrahim|    5.9|
|Etiam malesuada b...|LJRIULRNJFCNZJAJ|          Sindhi|        Adil Abro|   9.32|
|Fusce eu ultrices...|JMCL0CXNXHPL1GBC|        Galician| Afonso Vilarchán|   5.21|
|Nam laoreet, nunc...|KU4T500C830697CW|         Maltese|    Mark Schembri|   3.17|
|Pellentesque mass...|XOF91ZR7MHV1TXRS|        Galician|    Antía Sixirei|   6.44|
|Duis commodo orci...|FTSNV411G5MKLPDT|          Uyghur|   Aygul Mutellip|    9.1|
|Nunc aliquet soda...|OJMWMEEQWMLDU29P|          Sindhi|     Awais Shaikh|   1.59|
|Vestibulum ante i...|5G646V7E6TJW8X2M|          Sindhi|    Ambreen Ahmed|   2.35|
|Nullam ac sodales...|Z53AJY7WUYPLAWC9|        Galician|      Celtia Anes|   8.34|
|Phasellus tincidu...|N1AS6UFULO6WGTLB|         Maltese|    George Mifsud|   7.47|
|Curabitur ultrici...|70RODUVRD95CLOJL|          Uyghur|     Aytürk Qasim|   1.32|
|Maecenas non arcu...|VBLI24FKF7VV6BWE|Sesotho sa Leboa|       Dialè Meso|   6.29|
|Integer vehicula,...|4VRLON0GPEZYFCVL|        Galician|    Breixo Galáns|   1.62|
|Ut viverra quis e...|5DRDI1QLRGLP29RC|        Galician|     Bieito Lorme|   4.45|
+--------------------+----------------+----------------+-----------------+-------+
only showing top 20 rows

In [8]:
df_json.printSchema()

root
 |-- bio: string (nullable = true)
 |-- id: string (nullable = true)
 |-- language: string (nullable = true)
 |-- name: string (nullable = true)
 |-- version: double (nullable = true)

In [9]:
df_json.select("id", "name").show()

+----------------+-----------------+
|              id|             name|
+----------------+-----------------+
|V59OF92YF627HFY0|    Adeel Solangi|
|ENTOCR13RSCLZ6KU|    Afzal Ghaffar|
|IAKPO3R4761JDRVG|    Aamir Solangi|
|5ZVOEPMJUI4MB4EN|    Abla Dilmurat|
|6VTI8X6LL0MMPJCC|         Adil Eli|
|F2KEU5L7EHYSYFTT|      Adile Qadir|
|LO6DVTZLRK68528I|Abdukerim Ibrahim|
|LJRIULRNJFCNZJAJ|        Adil Abro|
|JMCL0CXNXHPL1GBC| Afonso Vilarchán|
|KU4T500C830697CW|    Mark Schembri|
|XOF91ZR7MHV1TXRS|    Antía Sixirei|
|FTSNV411G5MKLPDT|   Aygul Mutellip|
|OJMWMEEQWMLDU29P|     Awais Shaikh|
|5G646V7E6TJW8X2M|    Ambreen Ahmed|
|Z53AJY7WUYPLAWC9|      Celtia Anes|
|N1AS6UFULO6WGTLB|    George Mifsud|
|70RODUVRD95CLOJL|     Aytürk Qasim|
|VBLI24FKF7VV6BWE|       Dialè Meso|
|4VRLON0GPEZYFCVL|    Breixo Galáns|
|5DRDI1QLRGLP29RC|     Bieito Lorme|
+----------------+-----------------+
only showing top 20 rows

In [10]:
df_json.write.mode("overwrite").parquet("data/json_data.parquet")

In [11]:
df_json.createOrReplaceTempView("my_json")

df_json_sql = spark_session.sql("""SELECT id, name
FROM my_json WHERE name = 'Adeel Solangi' ORDER BY id DESC""")

In [12]:
df_json_sql.show()

+----------------+-------------+
|              id|         name|
+----------------+-------------+
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
|V59OF92YF627HFY0|Adeel Solangi|
+----------------+-------------+
only showing top 20 rows

In [14]:
'''
#######Transformations Actions#######
orderBy() show()
groupBy() take()
filter() count()
select() collect()
join() save()


filter() and contains() represent narrow transformations
groupBy() or orderBy() instruct Spark to perform wide transformations
'''

'\n#######Transformations Actions#######\norderBy() show()\ngroupBy() take()\nfilter() count()\nselect() collect()\njoin() save()\n\n\nfilter() and contains() represent narrow transformations\ngroupBy() or orderBy() instruct Spark to perform wide transformations\n'

In [15]:
from pyspark.sql import Row

In [18]:
rows = [Row(name="Adeel Solangi", org="Apache", module="Spark", release="3.0.0", num_commits=100),]
df_rows = spark_session.createDataFrame(rows)
df_rows.show()

+-------------+------+------+-------+-----------+
|         name|   org|module|release|num_commits|
+-------------+------+------+-------+-----------+
|Adeel Solangi|Apache| Spark|  3.0.0|        100|
+-------------+------+------+-------+-----------+

In [19]:
rows = [Row(name="Bikash", salary=15000), Row(name="Rozy", salary=35000)]
authors_df = spark_session.createDataFrame(rows, ["Authors", "State"])
authors_df.show()

+-------+-----+
|Authors|State|
+-------+-----+
| Bikash|15000|
|   Rozy|35000|
+-------+-----+

In [ ]:
df_json_sql.distinct().show()

+----------------+-------------+
|              id|         name|
+----------------+-------------+
|V59OF92YF627HFY0|Adeel Solangi|
+----------------+-------------+

In [24]:
df_json.select("id", "name").where(col("name").isNotNull()).distinct().show(2)

+----------------+---------------+
|              id|           name|
+----------------+---------------+
|5K1K8V1OUUFKQ2UV|   Nobuhle Xaba|
|6ZQTOKQI6K82EE9Q|Mapula Selokela|
+----------------+---------------+
only showing top 2 rows

In [25]:
new_json_df = df_json.withColumnRenamed("name", "employee_name")
new_json_df.show()

+--------------------+----------------+----------------+-----------------+-------+
|                 bio|              id|        language|    employee_name|version|
+--------------------+----------------+----------------+-----------------+-------+
|Donec lobortis el...|V59OF92YF627HFY0|          Sindhi|    Adeel Solangi|    6.1|
|Aliquam sollicitu...|ENTOCR13RSCLZ6KU|          Sindhi|    Afzal Ghaffar|   1.88|
|Vestibulum pharet...|IAKPO3R4761JDRVG|          Sindhi|    Aamir Solangi|   7.27|
|Donec lobortis el...|5ZVOEPMJUI4MB4EN|          Uyghur|    Abla Dilmurat|   2.53|
|Vivamus id faucib...|6VTI8X6LL0MMPJCC|          Uyghur|         Adil Eli|   6.49|
|Duis commodo orci...|F2KEU5L7EHYSYFTT|          Uyghur|      Adile Qadir|    1.9|
|Vivamus id faucib...|LO6DVTZLRK68528I|          Uyghur|Abdukerim Ibrahim|    5.9|
|Etiam malesuada b...|LJRIULRNJFCNZJAJ|          Sindhi|        Adil Abro|   9.32|
|Fusce eu ultrices...|JMCL0CXNXHPL1GBC|        Galician| Afonso Vilarchán|   5.21|
|Nam laoreet, nunc...|KU4T500C830697CW|         Maltese|    Mark Schembri|   3.17|
|Pellentesque mass...|XOF91ZR7MHV1TXRS|        Galician|    Antía Sixirei|   6.44|
|Duis commodo orci...|FTSNV411G5MKLPDT|          Uyghur|   Aygul Mutellip|    9.1|
|Nunc aliquet soda...|OJMWMEEQWMLDU29P|          Sindhi|     Awais Shaikh|   1.59|
|Vestibulum ante i...|5G646V7E6TJW8X2M|          Sindhi|    Ambreen Ahmed|   2.35|
|Nullam ac sodales...|Z53AJY7WUYPLAWC9|        Galician|      Celtia Anes|   8.34|
|Phasellus tincidu...|N1AS6UFULO6WGTLB|         Maltese|    George Mifsud|   7.47|
|Curabitur ultrici...|70RODUVRD95CLOJL|          Uyghur|     Aytürk Qasim|   1.32|
|Maecenas non arcu...|VBLI24FKF7VV6BWE|Sesotho sa Leboa|       Dialè Meso|   6.29|
|Integer vehicula,...|4VRLON0GPEZYFCVL|        Galician|    Breixo Galáns|   1.62|
|Ut viverra quis e...|5DRDI1QLRGLP29RC|        Galician|     Bieito Lorme|   4.45|
+--------------------+----------------+----------------+-----------------+-------+
only showing top 20 rows

In [ ]:
fire_ts_df = (new_fire_df
.withColumn("IncidentDate", to_timestamp(col("CallDate"), "MM/dd/yyyy"))
.drop("CallDate")
.withColumn("OnWatchDate", to_timestamp(col("WatchDate"), "MM/dd/yyyy"))
.drop("WatchDate")
.withColumn("AvailableDtTS", to_timestamp(col("AvailableDtTm"),
"MM/dd/yyyy hh:mm:ss a"))
.drop("AvailableDtTm"))